<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
</head>
<body>
<div class="cardsContainer">
        <div class="cardWrapper">
            <div class="el cards"></div>
            <h3>kingsley</h3>
        </div>
        <div class="cardWrapper">
            <div class="el cards"></div>
            <h3>sarah</h3>
        </div>
        <div class="cardWrapper">
            <div class="el cards"></div>
            <h3>neela</h3>
        </div>
        <div class="cardWrapper">
            <div class="el cards"></div>
            <h3>nalani</h3>
        </div>

</div>
<script>
    let number = 5;
//array
  /*  var colors = ['blue','green','black'];
    alert(colors [0] + colors [2]);*/

    //loop
   /* for(let  i = 0; i <= 10; i++){
        console.log('i love the number',+i);
    }*/

    //conditional statement
    /*if(2==2);{
        console.log(true);
    };*/
    var fruit = 'orange';
    switch(fruit){
        case 'banana':
            alert('i love banana');
        break;
        case 'orange':
            alert('orange is good');
            break;
        default:
            alert('i love orange');
            break;
    }

</script>
<script src="../backend/app.js"></script>
</body>
</html>